{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

<h2>Posts</h2>
<hr>
{{ $series := .Params.series_key }}
{{ $posts := where .Site.RegularPages "Params.series_key" $series }}
{{ if $posts }}
<div class="posts-list">
    {{ range $index, $post := sort $posts "Params.series_part" "asc" }}
        {{ if $index }}<hr>{{ end }}
        <div class="post">
            <div class="date">Part {{ .Params.series_part }}</div>
            <h2><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
            {{ with .Params.summary }}<p>{{ . }}</p>{{ end }}
        </div>
    {{ end }}
</div>
{{ else }}
<p>No posts published yet.</p>
{{ end }}
{{ end }}
