{{- $card := "summary" -}}
{{- $imageURL := "images/portrait.png" | absURL -}}
{{- $imageAlt := "Illustrated portrait of Radu Bahmata" -}}
{{- with .Params.image -}}
  {{- $image := $.Resources.GetMatch . -}}
  {{- with $image -}}
    {{- $thumb := .Fit "1200x630" -}}
    {{- $card = "summary_large_image" -}}
    {{- $imageURL = $thumb.Permalink -}}
    {{- $imageAlt = $.Title -}}
  {{- end -}}
{{- end }}
<meta name="twitter:card" content="{{ $card }}" />
<meta name="twitter:image" content="{{ $imageURL }}" />
<meta name="twitter:image:alt" content="{{ $imageAlt }}" />

<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Params.summary }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ with .Site.Params.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}
{{ range .Site.Params.Authors }}
{{ with .twitter -}}
<meta name="twitter:creator" content="@{{ . }}"/>
{{ end -}}
{{ end -}}
